*.iml
.gradle
.kotlin
/local.properties
/.idea/caches
/.idea/libraries
/.iideadea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
ideaS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
.env
debug.keystore
